# flyctl launch added from .gitignore
**/*_templ.go
**/.vscode

# flyctl launch added from reporters/javascript/.gitignore
reporters/javascript/**/node_modules
reporters/javascript/**/dist
reporters/javascript/**/.vscode
fly.toml
