button {
  all: unset;
}

.ToggleGroup {
  display: inline-flex;
  border-radius: 4px;
  border: 1px solid #2b333b;
  height: 2.5rem;

}

.ToggleGroupItem {
  cursor: pointer;
  width: fit-content;
  padding: 4px 8px;
}

.ToggleGroupItem:first-child {
  border-right: 1px solid #2b333b;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.ToggleGroupItem:last-child {
  border-left: 1px solid #2b333b;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.ToggleGroupItem[data-state='on'] {
  background-color: #b6cfed;
}

.ToggleGroupItem:focus {
  position: relative;
}